svg {
    -webkit-background-clip: text;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black;
}

body {
    background-color: #000;
}

#container {
    max-width: 1280px;
    margin: 0 auto;
    min-width: 1210px;
}



.fon-head {
    background: url(/assets/fon-head.svg) 100% 100% no-repeat;
    height: 145px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
    max-width: 1280px;
}


/* Меню и Логотип */

li a img {
    position: relative;
    bottom: 1px;
    right: 10px;
}

.logo img {
    border-bottom: 2px solid #000;
    border-radius: 50px;
}

nav {
    margin: 0 auto;
    padding: 35px 0;
    overflow: hidden;
}

.logo-box {
    float: left;
    margin: -2px 0 0 25px;
}

.logo {
    margin: 0;
    height: 70px;
    text-align: center;
}

ul {
    margin-right: 25px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 70px;
    text-align: center;
    background: #FF7A00;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
}

li a {
    padding-top: 26px;
    bottom: 8px;
}

a:hover {
    color: black;
    position: relative;
    bottom: 2px;
}

li {
    display: inline-block;
    margin-left: 25px;
    border-right: 3px solid #000000;
}

li:first-child {
    padding-right: 140px;
    padding-left: 10px;
}

li:nth-child(2) {
    padding-right: 42px;
    padding-left: 17px;
}


li:last-child {
    border: none;
    padding-right: 60px;
    padding-left: 40px;
}

/* Контент, Авторизация и Регистрация */

#content {
    margin-top: -5px;
}

.headphones {
    float: right;
    margin-right: 100px;
    margin-top: 127px;
}

.fon-content {
    background: url(/assets/fon-content.svg) 100% 100% no-repeat;
    height: 823px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
}


.welcome {
    width: 454px;
    margin: 0 auto;
    text-align: center;
    padding-top: 175px;
}

.become-client,
.client-login {
    height: 30px;
    padding: 2em 0;
    background: #FF7A00;
    border: 1px solid #000000;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}

.client-login {
    margin-top: 70px;
}


/* Подвал */

#footer {
    margin-top: -9px;
}

#footer li a:hover {
    color: black;
    position: relative;
    bottom: 2px;
}

#footer li a img {
    bottom: 8px;
    margin-right: 5px;
    margin-bottom: -15px;
}

#footer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-right: 25px;
    color: black;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

#footer li:nth-child(2) {
    padding-right: 65px;
}

#footer li:nth-child(3) {
    height: 54px;
    position: relative;
    bottom: 6px;
}

#footer li:last-child {
    padding-left: 10px;
}

#footer .icon-time {
    padding-top: 7px;
    padding-right: 10px;
}

#footer li:first-child {
    padding-right: 35px;
    padding-left: 20px;
}

#footer .logo img {
    height: 80px;
    margin-left: -5px;
}

#footer nav {
    margin: 0 auto;
    padding: 0;
}

#footer ul {
    height: 58px;
    margin-top: 10px;
}

.fon-footer {
    background: url(/assets/fon-footer.svg) 100% 100% no-repeat;
    height: 79px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
}