<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <div id="container">

  <div id="header">
    <div class="fon-head">


      <nav>
        <div class="logo-box">
          <h1 class="logo">
            <a href="/">
              <img src="/assets/logo-head.svg">
            </a>
          </h1>
        </div>
        <ul>
          <li>
            <%= link_to image_tag('/assets/icon-in.svg') + "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-nowrap" %>
          </li>
        </ul>
      </nav>


    </div>
  </div>

  <% else %>
<div id="container">

  <div id="header">
    <div class="fon-head">


      <nav>
        <div class="logo-box">
          <h1 class="logo">
            <a href="/">
              <img src="/assets/logo-head.svg">
            </a>
          </h1>
        </div>
        <ul>
          <li>
            <%= link_to image_tag('/assets/icon-reg.svg') + "Registration", new_user_registration_path %>
            <div class="border-reg"></div>
          </li>
          <li>
            <%= link_to image_tag('/assets/icon-in.svg') + "Sign in", new_user_session_path %>
          </li>
          <li><a href="#"><img src="/assets/icon-lan.svg">Ru</a></li>
        </ul>
      </nav>


    </div>
  </div>
<% end %>
    <%= yield %>

     <div id="footer">
    <div class="fon-footer">


      <nav>
        <div class="logo-box">
          <h1 class="logo">
            <a href="/">
              <img src="/assets/logo-head.svg">
            </a>
          </h1>
        </div>
        <ul>
          <li>
          <%= link_to image_tag('/assets/icon-about.svg') + "About", about_index_path %>
            <div class="border-reg"></div>
          </li>
          <li><img class="icon-time" src="/assets/icon-time.svg"><span id="date_time"></span></li>
          <li><a href="#"><img src="/assets/icon-rights.svg">Rights reserved</a>
            <div class="border-reg"></div>
          </li>
        </ul>
      </nav>


    </div>
  </div>

</div>

<script>
    /* функция добавления ведущих нулей */
    /* (если число меньше десяти, перед числом добавляем ноль) */
    function zero_first_format(value) {
        if (value < 10) {
            value = '0' + value;
        }
        return value;
    }

    /* функция получения текущей даты и времени */
    function date_time() {
        var current_datetime = new Date();
        var day = zero_first_format(current_datetime.getDate());
        var month = zero_first_format(current_datetime.getMonth() + 1);
        var year = current_datetime.getFullYear();
        var hours = zero_first_format(current_datetime.getHours());
        var minutes = zero_first_format(current_datetime.getMinutes());
        var seconds = zero_first_format(current_datetime.getSeconds());

        return day + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds;
    }

    /* каждую секунду получаем текущую дату и время */
    /* и вставляем значение в блок с id "current_date_time_block2" */
    setInterval(function() {
        document.getElementById('date_time').innerHTML = date_time();
    }, 1000);

</script>
  </body>
</html>
