<h1>user main page </h1>
<div>
  <h2> 
    <%=  @user.current_balance%>
  </h2>
</div>

<div>

</div>
<%= form_for :user, :url => {:controller => :user, :action => :index} do |f| %>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <div class= "alertUser ">
          <%= msg%>
        </div>
      <% end %>
    <% end %>
    <p >
      Enter the sum to withdraw or to deposit <br>
      <%= f.text_field :current_balance %>
    </p>

    <p >
    <%= f.submit 'Withdraw' %>

    </p>
    <p >
    <%= f.submit 'Deposit' %>

    </p>

  <%end%>
<div><%= @user.email %>
</div>

<div>
<%if @record !=nil%>
  <%@record.each do |item|%>
    <%=item.operation_type%>
    <%=item.amount%>
    <%=item.balance_after%>
    <%=item.created_at%>
<%end%>
  <% end %>
</div>