<h1> main page </h1>

  <li class="nav-item">
    <%= link_to "Log in", new_user_session_path, class: "nav-link text-nowrap" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-nowrap" %>
  </li>