<!DOCTYPE html>
<html>
  <head>
    <title>Cutebank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-nowrap" %>
  </li>

<% end %>
    <%= yield %>
  </body>
</html>
